extends layout

block content
  h1 文章編集

  form(method='post' action='/api/sentences/edit')
    input#id(type='hidden' name='id' value=data[0].id)
    label(for='sentence') 文章
    p
      input#sentence(type='text' name='sentence' value=data[0].sentence)
    label(for='kana') かな
    p
      input#kana(type='text' name='kana' value=data[0].kana)
    button.btn.btn-primary 更新