doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title Typing ランキング
  body.container
    a(href='/').text-decoration-none.text-center.text-primary
      h1.mt-3 タイピングゲーム
    hr
    block content